doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title= title

        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        meta(name="viewport" content="width=device-width")

        script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
        link(rel='stylesheet', href="../bootstrap3/css/bootstrap.css")
        link(rel='stylesheet', href="/stylesheets/ct-paper.css")
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="/javascripts/readURL.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js")
        
        <!--     Fonts and icons     -->
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        link(href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')

    body

        nav(class="navbar navbar-default navbar-fixed-top" role="navigation-demo" id="profilepic-navbar")
          div(class="container")
            <!-- Brand and toggle get grouped for better mobile display -->
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand") BIT STRIPS
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            div(class="collapse navbar-collapse" id="navigation-example-2")
              ul(class="nav navbar-nav navbar-right")
                li
                    a(class="btn btn-simple", href="/createpage") Create

                li
                    a(class="btn btn-simple", href="/viewpage") View
                
                li
                    a(class="btn btn-simple", href="/profilepage") Profile

                li
                    a(class="btn btn-simple", href="/logout") Logout




        div(class="wrapper")
            div(class="createpage-background")

                form#fileUpload(method="post", action="/createpage", enctype="multipart/form-data")

                    div(class="container")

                        div(class="row")
                            div(class="col-md-12 text-center")
                                textarea(id = "comictext", rows="2", cols="40", name="comicstripname", placeholder="Comic title") Enter comic title here
                                
                        div(class="row")
                            br
                            div(class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center")
                                div(class="row text-center")
                                        img(class="comic_img1", id="cell1", src="#")
                                div(class="row text-center")
                                        textarea(class="comic_text", id = "comictext", rows="4", cols="30", name="comicdialog1", placeholder="Enter text here")
                                div(class="row text-center")
                                    input(type="file" name="myFile" accept="image/*" onchange="readURL1(this)")



                             div(class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center")
                                div(class="row text-center")
                                        img(class="comic_img2", id="cell2", src="#")
                                div(class="row text-center")
                                        textarea(class="comic_text", id = "comictext", rows="4", cols="30", name="comicdialog2", placeholder="Enter text here")
                                div(class="row text-center")
                                    input(type="file" name="myFile" accept="image/*" onchange="readURL2(this)")



                            div(class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center")
                                div(class="row text-center")
                                        img(class="comic_img3", id="cell3", src="#")
                                div(class="row text-center")
                                        textarea(class="comic_text", id = "comictext", rows="4", cols="30", name="comicdialog3", placeholder="Enter text here")
                                div(class="row text-center")
                                    input(type="file" name="myFile" accept="image/*" onchange="readURL3(this)")



                            div(class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center")
                                div(class="row text-center")
                                        img(class="comic_img4", id="cell4", src="#")
                                div(class="row text-center")
                                        textarea(class="comic_text", id = "comictext", rows="4", cols="30", name="comicdialog4", placeholder="Enter text here")
                                div(class="row text-center")
                                    input(type="file" name="myFile" accept="image/*" onchange="readURL4(this)")

                        div(class="row")
                            div(class="col-md-6 text-center")
                                br
                                br
                                h6 Enter Description Here:
                                textarea(id = "description", rows="5", cols="35", name="comicdescription", placeholder="Description")

                            div(class="col-md-6 text-center")
                                br
                                br
                                h6 Enter Tags Here: Seperate with Space
                                textarea(id = "comicsTags", rows="3", cols="35", name="tags", placeholder="Tags")
                                br
                                br
                                div(class="col-md-4 col-md-offset-2 text-left")
                                    input(type="radio", name="editable", value="edit", checked =true)  
                                    label(for="editable") Collaborative
                                    br    
                                    input(type="radio", name="editable", value="fin", checked =false) 
                                    label(for="desc") Solo 
                                div(class="col-md-4 text-left")
                                    input(type="radio", name="ispublic", value="public", checked =true)  
                                    label(for="ispublic") Public   
                                    br
                                    input(type="radio", name="ispublic", value="private", checked =false) 
                                    label(for="ispublic") Private 
                                br
                                br
                                //div(class="col-md-6")
                                    button(class="btn btn-fill btn-danger", onclick="window.location.href = '/createpage'") Clear Canvas
                                div(class="col-md-12 text-right")
                                    button#upload(class="btn btn-fill btn-success") Upload
                        div(class="row")
                            br
                            br
                            br
                            br



script(src="/javascripts/jquery-1.10.2.js" type="text/javascript")
script(src="/javascripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript")

script(src="../bootstrap3/js/bootstrap.js" type="text/javascript")

<!--  Plugins -->
script(src="/javascripts/bootstrap-select.js")

script(src="/javascripts/ct-paper.js")